html {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 50px;
  margin-top: -50px;
  font-family: 'Istok Web', 'Helvetica Neue', 'Helvetica', 'Arial';
}

.navbar {
  border-bottom-width: 0;
  margin: 0 auto;
  padding: 0 15px;
}

.navbar .container-fluid {
  max-width: 1200px;
  text-align: left;
}

.lang {
  margin: 0 15px;
  padding-top: 6px;
  float: left;
  height: 50px;
  width: 30px;
}

.lv {
  background: url('../img/lat.png') top center no-repeat;
  width: 22px;
  height: 16px;
  display: inline-block;
  margin-left: 5px;
}

.ru {
  background: url('../img/rus.png') top center no-repeat;
  width: 22px;
  height: 16px;
  display: inline-block;
  margin-left: 5px;
}

@media (min-width: 992px) {
  .lang {
    margin: 0 30px 0 0;
  }
}

.logo {
  padding: 0 15px 0 0;
}

.logo img {
  height: 50px;
}

.contacts {
  float: right;
  margin-top: 3px;
}

.contacts p {
  margin: 0;
  padding-right: 15px;
}

.contacts p.main {
  color: #eee;
  font-size: 1.4em;
}

.contacts p.secondary {
  color: #aaa;
  font-size: 0.8em;
  float: right;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.section-header {
  margin-top: 10px;
  margin-bottom: 20px;
}

.section1 {
  background: url('../img/section.JPG') top center no-repeat;
  background-size: cover;
  color: #eee;
  margin-top: 50px;
  padding-top: 15px;
  padding-bottom: 60px;
}

.section1 .container {
  max-width: 680px;
  margin: 0 auto;
  background-color:rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 15px;
}

.section1 .container .media {
  text-align: left;
  font-size: 1.2em;
}

.section1 .container .media .media-left span {
  margin-right: 15px;
  color: #E2C044;
}

.section2 {
  background: #eee;
  color: #444;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: -50px;
}

.s2-image {
  height: 200px;
  width: 100%;
  display: block;
  border: 1px solid #999;
}

.row-flex, .row-flex > div[class*='col-'] {  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1 1 auto;
    flex:1 1 auto;
}

.row-flex-wrap {
	-webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  align-content: flex-start;
  -webkit-flex: 0;
  flex:0;
}

.row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
	 margin:-.2px; /* hack adjust for wrapping */
}

.container-flex > div[class*='col-'] div,.row-flex > div[class*='col-'] div {
	width:100%;
}

.flex-col {
  display: flex;
  display: -webkit-flex;
  flex: 1 100%;
	flex-flow: column nowrap;
}

.flex-grow {
	display: flex;
  -webkit-flex: 2;
  flex: 2;
}

.section3 {
  background: url('../img/section.JPG') top center no-repeat;
  background-size: cover;
  color: #eee;
  margin-top: 50px;
  padding-top: 15px;
  padding-bottom: 60px;
  margin-bottom: -50px;
}

.section3 .container {
  max-width: 680px;
  margin: 0 auto;
  background-color:rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 15px;
}

.section3 .container .media {
  text-align: left;
  font-size: 1.2em;
}

.section4 {
  background: #eee;
  color: #444;
  margin-top: 50px;
  padding-top: 15px;
  padding-bottom: 60px;
  margin-bottom: -50px;
}

.section4 .container {
  padding: 0;
  max-width: 800px;
}

.carousel-inner .item img {
  display: block;
  margin: 0 auto;
}

.section5 {
  background: #222;
  color: #eee;
  margin-top: 50px;
  margin-bottom: -50px;
}

.section5 .container-fluid {
  margin: 0 auto;
  padding: 15px;
  max-width: 1200px;
}

.section5 .container-fluid .row {
  text-align: left;
}

.cap {
  width: 30px;
  font-weight: bold;
}

.weekend {
  color: #E25944;
}

.media {
  margin-top: 5px;
}

.media .media-left span {
  margin-right: 10px;
  color: #E2C044;
}

.col-xs-6 {
  padding-bottom: 15px;
}

.media .media-body {
  width: auto;
}